<%= will_paginate @posts %>
<table class="table">
  <thead>
  <tr class="info">
    <th>ID</th>
    <th>Date</th>
    <th>Rubygem</th>
    <th>Title</th>
    <th>CVE</th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.date %></td>
      <td><%= post.rubygem %></td>
      <td><%= link_to post.title, post.full_link %></td>
      <td><%= post.cve %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>